// Place all the styles related to the payments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: Helvetica, sans-serif;
  font-weight: 100;
}

h1, h2, h3 {
  font-weight: 100;
}

h1 {
  text-align: center;
}

.subscription-button-wrapper {
  text-align: center;
}

.button-xsmall {
  font-size: 70%;
}

.button-small {
  font-size: 85%;
}

.button-large {
  font-size: 110%;
}

.button-xlarge {
  font-size: 125%;
}